.col-md-4 > img {
    width: 250px;
    height: 250px;
}
.text3 {
    color: red;
}

.img-fluid {
    max-width : 100%;
    height: auto;
}

#inner2 {
    height: calc(100%-900px);
}

#inner_remaining {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 200px;
    text-align: center;
}

#ul {
    font-family: 'Staatliches', cursive;
}
h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 40px;
    color: silver;
}
