.col-md-4 > img {
    width: 250px;
    height: 250px;
    background-size: cover;
}
.text3 {
    color: red;
}

.img-fluid {
    max-width : 100%;
    height: auto;
}

#inner2 {
    height: calc(100%-900px);
}

#inner_remaining {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 200px;
    text-align: center;
    background-position: center;
}

#ul {
    font-family: 'Staatliches', cursive;
}
h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 40px;
    color: silver;
}

.responsive {
    background-image: url('../images/phys.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 200px;
    height: 800px;
    text-align: center;
}

.responsive2 {
    background-image: url('../images/math.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 200px;
    height: 800px;
    text-align: center;
}

.container-fluid {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .Hover:hover .image {
    opacity: 0.5;
  }
  
  .Hover:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding: 16px 32px;
  }
  .Hover {
      margin-bottom: 10px;
  }