<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <title>TeenACERS</title>
</head>

<body>
    <header>
         
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand ul" href="../index.html">WeLearn</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navcollapse">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link ul" href="/components/maths.html">Mathematics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ul" href="/components/physics.html">Physics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ul" href="/components/sports.html">Sports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ul" href="/components/games2.html">Games</a>
                      </li>
                </ul>
                <form class="form-inline my-2">
                    <input class="form-control mr-sm-2" type="text" placeholder="search">
                    <button class="btn btn-outline-success my-2"type="submit">Search</button>
                </form>
                
            </div>
        </nav>
    </header>

    <div class="container-fluid text-center py-10" style="background-color: #C2E812; min-height: 100%;">
        <div class="holdingcontainer" style="overflow: auto; padding-bottom: 20px; font-size: 22px; font-style: oblique; font-weight: bolder;">
            <div class="internalcontainerB">

                     <img class="image_img " src="../images/maths.jpg" alt="Mathematics picture">
                          <div class="container_overlay">
                             <a class="container_overlay_a" role="button" href="maths.html" > M A T H S  </a>
                          </div> 
            </div>

            <div class="internalcontainerB">
                
                         <img class="image_img" src="../images/physics.jpg" alt="Physics law picture">
    
                              <div class="container_overlay">
                                 <a class="container_overlay_a" role="button" href="physics.html" > P H Y S I C S  </a>
                              </div> 
    
            </div>

            <div class="internalcontainerB">
                
                    <img class="image_img" src="../images/sports.jpg" alt="Sports">

                         <div class="container_overlay">
                            <a  class="container_overlay_a" role="button" href="sports.html" > S P O R T S  </a>
                         </div> 
                
            </div>

            <div class="internalcontainerB">
    
                <img class="image_img" src="../images/games3.jpg" alt="mobile showing games">

                     <div class="container_overlay">
                        <a class="container_overlay_a" role="button" href="games2.html" > G A M E S  </a>
                     </div> 
          
            </div>
        </div>

    </div>
    
    <footer class="container-fluid text-center py-5" style="background-color: rgb(5,5,5); position: relative; height: 20px; margin-top: -20px; clear: both;">
        <p style="color: aliceblue;"> &copy; 2020 WeLearn
            <a class="ul" href="/index.html">Home</a>
        </p>

    </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
</body>
</html>